@model IEnumerable<WebEpione.Models.StepViewModel>

@{
    ViewBag.Title = "DetailsTreatment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>DetailsTreatment</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.StepId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StepDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StepDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Validation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NbModifications)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastModificationDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ModificationReason)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TreatmentId)
        </th>
        <th>
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.StepId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StepDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StepDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Validation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NbModifications)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastModificationDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ModificationReason)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TreatmentIllness)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Send Report", "SendReport", new { /* id=item.PrimaryKey */ })


        </td>
    </tr>
}

</table>                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    
