@model IEnumerable<WebEpione.Models.ReportViewModels>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ReportTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReportDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReportDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReportImage)
        </th>
        <th>
            <label>Actions</label>
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ReportTitle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReportDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReportDate)
        </td>
        <td>
            
            <img src="@Url.Content("~/Content/Upload/"+item.ReportImage)" width="200" height="100"/>
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ReportId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ReportId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ReportId })
        </td>
    </tr>
}

</table>
<a href="@Url.Action("ExportPDF","Report")"> Export PDF</a>
<a href="javascript:window.print()">Print Page </a>  
